h1 Sneakers#show
p A more detailed view of your sneaker including pictures

h3 Nickname: |
= @sneaker.colorway
h3 Brand:
= @sneaker.brand
h3 Model:
= @sneaker.model
h3 Size:
= @sneaker.size
h3 Condition:
= @sneaker.condition
h3 Release Date:
= @sneaker.release_date
h3 Price:
= @sneaker.price
